storage/gh_instance.json
storage/
logs/
*.log
.DS_Store
composer.phar
.phpunit.result.cache
.phpunit.cache
tests/db.php
db/INSTALL_LOCK
config.local.php
scan_keys.php
missing_keys_report.txt
lang.bk
**/*.bk
**/*-pre-split*/
**/*bk2/
lang_backup_blocks_*/

db/INSTALL_LOCK
