logs/
*.log
.DS_Store
composer.phar
.phpunit.result.cache
.phpunit.cache
tests/db.php
db/INSTALL_LOCK
config.local.php
scan_keys.php
missing_keys_report.txt
lang/fix_lang.sh
lang.bk
**/*.bk
**/*-pre-split*/
**/*bk2/
/vendor/phpstan/
/vendor/phpunit/
/vendor/bin/
/vendor/sebastian/
/vendor/phar-io/
/vendor/theseer/
