includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 8
    paths:
        - app
        - includes
        - db
        - partials
        - public
        - routes
        - index.php
        - feedback.php
        - leaderboard.php
        - record_history.php
        - update_database.php
        - volunteer.php

    checkUninitializedProperties: true
    checkMissingCallableSignature: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    reportUnmatchedIgnoredErrors: true

    # Optional but useful
    treatPhpDocTypesAsCertain: false
