parameters:
    level: 3
    paths:
        - app
        - includes
        - db
        - partials
        - public
        - routes

    checkUninitializedProperties: true
    reportUnmatchedIgnoredErrors: false
