.btn {
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: 0.0625rem solid var(--border-color);
    border-radius: 0.25rem;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--primary-hover);
}

.btn-success {
    background-color: #28a745;
    color: #ffffff;
}

.btn-secondary {
    background-color: #6c757d;
    color: #ffffff;
}

.btn-danger {
    background-color: var(--danger-color);
    color: #ffffff;
}

.btn-discreet {
    padding: 0.35rem 0.75rem !important;
    font-size: 1rem !important;
}

.btn-reactivate {
    background-color: #28a745 !important;
}

.btn-reset-2fa {
    background-color: #6c757d !important;
}

.suggest-link {
    color: var(--danger-color);
    text-decoration: none;
    font-weight: bold;
}
